DISCORD_TOKEN=YOUR_DISCORD_TOKEN
DB_HOST=YOUR_DB_HOST
DB_PORT=YOUR_DB_PORT
DB_NAME=YOUR_DB_NAME
DB_USER=YOUR_DB_USER
DB_PASS=YOUR_DB_PASS
DOCKER_CONTAINER=YOUR_DOCKER_CONTAINER
MYSQL_HOST=YOUR_MYSQL_HOST
MYSQL_PORT=YOUR_MYSQL_PORT
MYSQL_USER=YOUR_MYSQL_USER
MYSQL_PASS=YOUR_MYSQL_PASS